main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}

.main-texto img {
    width: 15rem;
    margin-bottom: 3vh;
}

.main-texto h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.main-texto p {
    margin-bottom: 1.5rem;
}

.main-texto h6 {
    color: #999;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.main-texto .botao_comprar {
    padding: 10px 25px;
    background: #0071e3;
    border-radius: 20px;
    color: #fff;
    font-size: 1.rem;
    transition: all 0.5s;
}

.main-texto .botao_comprar {
    opacity: .85;
}

.main-texto .texto h5 {
    font-size: 1rem;
    color: #444;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main-texto .cores {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-texto .cores span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.5s;
}

.main-texto .cores span:hover {
    opacity: .80;
}

#verde {
    background: #384937;
}
#rosa{
    background: #f8ddd6;
}
#azul {
    background: #225f7e;
}
#preto {
    background: #000;
}
#branco {
    background: #fff;
}
#vermelho {
    background: red;
}

.main-img {
    transition: all 1s;
    z-index: 100;
}

.main-img img {
    width: 300px;
    transform: rotate(-7deg);
}

.circulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #445C47;
    clip-path: circle(800px at right 1000px);
}